@font-face {
  src: url("/fonts/lineto-circular-black.ttf");
  font-family: lineto-black;
}
@font-face {
  src: url("/fonts/lineto-circular-pro-book.ttf");
  font-family: lineto-pro-book;
}
@font-face {
  src: url("/fonts/lineto-circular-pro-medium.ttf");
  font-family: lineto-pro-medium;
}
/* Universal Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  margin: auto;
}
/* Navigations */
.main-nav {
  display: flex;
  background-color: rgba(25, 20, 20, 0.65);
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 20px 0;
  position: fixed;
  z-index: 3;
}
.main-nav ul {
  display: flex;
}
.main-nav ul.nav-options li {
  margin-bottom: 1px;
  margin-left: 32.5px;
}
.main-nav ul.nav-options {
  flex: 1;
  margin-left: 525px;
  font-family: lineto-pro-medium;
  width: 100px;
  font-size: 15.8px;
  letter-spacing: -0.8px;
  margin-top: 1px;
  font-weight: bold;
}
.white-text {
  color: #fff;
}
.grey-text {
  color: #dcdcdc;
}
img.spotify-logo {
  margin-left: 270px;
  width: 8%;
}
.line {
  border: 0.5px solid white;
  margin-top: 1.8px;
  height: 16px;
}
/* Cards */
.cards {
  display: grid;
  z-index: 1;
}
/* Card 1 */
.card-1 {
  background-color: #fdced5;
  display: flex;
  height: 39em;
}
.text1-container {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1090px;
  height: 200px;
}
.card-1-text {
  font-family: lineto-black;
  font-weight: bolder;
  letter-spacing: -1.2px;
  line-height: 95px;
  margin-bottom: 30px;
  font-size: 78px;
}
strong.bold-height {
  font-weight: normal;
  font-size: 87px;
}
p.text2 {
  margin-bottom: 20px;
  letter-spacing: -0.5px;
  font-family: lineto-pro-medium;
  font-size: 30.55px;
  font-weight: 500;
}
.subscription-div {
  margin-top: 40px;
  width: 650px;
  height: 100px;
}
p.subscription-text {
  font-size: 12px;
  font-family: lineto-pro-book;
}
/* card 2 */
.card-2 {
  top: 39em;
  background-image: url("/assets/spotify_md.png");
  background-repeat: no-repeat;
  background-size: 100% 39em;
  height: 39em;
}
.card2-text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  height: 35em;
}
.card2-text {
  font-family: lineto-black;
  font-weight: bolder;
  color: #fff;
  letter-spacing: -1.2px;
  font-size: 78px;
}
.card2-text2 {
  color: #fff;
  font-family: lineto-pro-book;
  margin-top: 25px;
  font-size: 21px;
}
/* card3(links) */
.img-container {
  width: 140px;
  height: 45px;
}
img.footer-img {
  width: 94%;
}
footer {
  background-color: #000;
  width: auto;
  height: 33.2em;
  display: grid;
  padding-left: 270px;
  padding-top: 75px;
  grid-template-columns: repeat(4, 190px);
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  margin-top: 20px;
}
.footer-links ul li h5 {
  color: #a9a9a9;
  font-size: 12px;
  font-family: lineto-pro-medium;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}
.footer-links ul li a {
  display: flex;
  color: #fff;
  margin-bottom: 20px;
  font-family: lineto-pro-book;
}
.last-section-div {
  width: auto;
  margin-top: 25px;
}
.last-section-div ul {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: -190px;
}
.last-section-div ul li {
  margin-right: 23px;
}
.last-section-div ul li a {
  color: #a9a9a9;
  font-size: 12px;
  font-family: lineto-pro-book;
}
.social-media-icons {
  width: 220px;
  height: 60px;
  margin-left: 298%;
  margin-top: 20px;
}
.state-copyright-area {
  display: flex;
}
.america-flag {
  width: 12%;
  height: 15%;
  margin-left: 8px;
  margin-top: 3px;
}
.usa-text {
  color: #a9a9a9;
  margin-top: 4px;
  margin-left: 348%;
  font-size: 12px;
  font-family: lineto-pro-medium;
}
.spotify-copyright {
  color: #a9a9a9;
  font-size: 12px;
  font-family: lineto-pro-book;
  margin-left: 400px;
}
/* icons */
.fa-instagram {
  background: #242424;
  color: white;
  font-size: 28px;
  width: 54px;
  padding: 13px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}
.fa-twitter {
  background: #242424;
  color: white;
  font-size: 24px;
  width: 54px;
  padding: 14.5px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}
.fa-facebook {
  background: #242424;
  color: white;
  font-size: 25px;
  width: 54px;
  padding: 16px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}
/* Buttons */
.btn-green {
  position: relative;
  border: none;
  background-color: #1db954;
  width: 215px;
  height: 500px;
  padding: 16px;
  top: 18px;
  right: 114px;
  border-radius: 25px;
}
.btn-white {
  position: relative;
  border: 2px solid black;
  background-color: #fdced5;
  width: 215px;
  height: 500px;
  padding: 16px;
  top: -32px;
  right: -114px;
  border-radius: 25px;
}
.btn-white-text {
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  font-family: lineto-pro-book;
  letter-spacing: 2px;
}
.btn-black-text {
  box-sizing: border-box;
  color: #000;
  font-size: 16px;
  font-family: lineto-pro-book;
  letter-spacing: 2px;
}
.btn-green-card2 {
  position: relative;
  border: none;
  background-color: #1db954;
  width: 245px;
  height: 50px;
  padding: 16px;
  top: 45px;
  right: 10px;
  border-radius: 25px;
}
/* hovers */
a.green:hover {
  color: #1db954;
}
.fa-instagram:hover,
.fa-facebook:hover,
.fa-twitter:hover,
.footer-links ul li a:hover,
.usa-text:hover {
  color: #21ce61;
}
.btn-white:hover {
  transform: scale(1.06);
}
.btn-green:hover,
.btn-green-card2:hover {
  background-color: #21ce61;
  transform: scale(1.06);
}
/* Nav Buttons(for media query) */
.nav-btn {
  position: fixed;
  top: 14px;
  right: 60px;
  z-index: 4;
  display: none;
}
.fa-bars {
  color: white;
}
.fa-close {
  display: none;
  color: white;
}
.spotify-logo-sidebar {
  display: none;
}
/* Media Queries */
@media (max-width: 1445px) {
  footer {
    padding-left: 140px;
  }
  .main-nav ul.nav-options {
    margin-left: 500px;
  }
  img.spotify-logo {
    margin-left: 150px;
    width: 9%;
  }
}
@media (max-width: 1300px) {
  footer {
    padding-left: 50px;
  }
  .main-nav ul.nav-options {
    margin-left: 500px;
  }
  img.spotify-logo {
    margin-left: 50px;
    width: 10%;
  }
  .text1-container {
    width: 1000px;
  }
}
@media (max-width: 1206px) {
  .card-2 {
    height: 24em;
  }
  .card2-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -130px;
  }
  .main-nav ul.nav-options {
    margin-left: 330px;
  }
  img.spotify-logo {
    margin-left: 110px;
    width: 12%;
  }
  footer {
    padding-left: 113px;
    grid-template-columns: repeat(3, 155px);
  }
  .footer-links {
    grid-template-columns: repeat(3, 148px);
  }
  .america-flag {
    margin-left: 10px;
    width: 15%;
    height: 15%;
  }
  .usa-text {
    margin-left: 407%;
  }
  .last-section-div ul {
    width: 1000px;
    margin-left: -153px;
  }
  .last-section-div ul li {
    position: flex;
    margin-right: 20px;
    white-space: nowrap;
  }
  .spotify-copyright {
    margin-left: 240px;
  }
}
@media (max-width: 1085px) {
  footer {
    padding-left: 20px;
  }
  .main-nav ul.nav-options {
    margin-left: 270px;
  }
}
@media (max-width: 993px) {
  .card-1 {
    height: 36em;
  }
  .card-2 {
    height: 20em;
  }
  .text1-container {
    width: 900px;
  }
  .subscription-div {
    margin-top: -5px;
    width: 900px;
  }
  footer {
    padding-top: 60px;
    grid-template-columns: repeat(3, 155px);
    height: 43em;
  }
  img.footer-img {
    padding-top: 10px;
    margin-left: 80px;
    margin-top: -300px;
    width: 65%;
    height: auto;
  }
  .footer-links {
    padding-left: -100px;
    margin-left: -70px;
    margin-top: 74px;
    grid-template-columns: repeat(3, 250px);
  }
  .social-media-icons {
    margin-top: 450px;
    margin-left: -240px;
  }
  .fa-facebook,
  .fa-twitter {
    width: 45px;
    height: 45px;
    font-size: 18;
    padding: 10px;
  }
  .fa-instagram {
    width: 45px;
    height: 45px;
    font-size: 18;
    padding: 8px;
  }
  .america-flag {
    margin-left: 10px;
    width: 10%;
    height: 10%;
    margin-top: 50px;
  }
  .usa-text {
    margin-left: 193%;
    margin-top: 52px;
  }
  .last-section-div ul {
    margin-left: -10px;
    margin-top: 55px;
  }
  .last-section-div ul li {
    position: flex;
    margin-right: 20px;
    white-space: nowrap;
  }
  .spotify-copyright {
    margin-left: 80px;
    white-space: nowrap;
  }
  .main-nav {
    background-color: #000;
    height: 60px;
  }
  img.spotify-logo {
    margin-left: -600px;
    width: 10%;
  }
  .nav-btn {
    display: block;
  }
  .main-nav ul.nav-options {
    z-index: 3;
    display: block;
    position: absolute;
    margin-top: 415px;
    left: 200px;
    background: #000;
    width: 45%;
    height: 935px;
    padding-top: 34px;
    padding-left: 0px;
    transform: translateX(600px);
    transition: transform 0.5s ease-in-out;
  }
  .main-nav ul li {
    margin-top: 30px;
  }
  .main-nav ul li a.white-text {
    font-size: 35px;
  }
  .line {
    width: 20px;
    height: 0px;
    border: 1px solid white;
  }
  .grey-text {
    font-size: 28px;
  }
  .main-nav ul.display {
    transform: translateX(20%);
  }
  .spotify-logo-sidebar {
    display: block;
    padding-left: 35px;
    width: 28%;
    margin-top: 460px;
  }
  .fa-close.show {
    display: block;
  }
  .fa-bars.show {
    display: none;
  }
}
@media (max-width: 900px) {
  footer {
    padding-top: 60px;
    height: 60em;
  }
  img.footer-img {
    padding-top: 40px;
    margin-left: 10px;
  }
  .footer-links {
    margin-top: 30px;
    margin-left: -140px;
    display: flex;
    flex-direction: column;
  }
  .footer-links ul {
    margin-top: 40px;
  }
  .social-media-icons {
    margin-top: 750px;
    margin-left: -300px;
  }
  .last-section-div ul {
    margin-left: 0px;
    margin-top: 100px;
  }
  .america-flag {
    margin-left: 10px;
    width: 10%;
    height: 10%;
    margin-top: 80px;
  }
  .usa-text {
    margin-left: 230%;
    margin-top: 80px;
  }
  .spotify-copyright {
    margin-left: 20px;
    white-space: nowrap;
  }
  .text1-container {
    width: 900px;
    margin-left: -30px;
  }
  .card2-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -130px;
    margin-left: 0px;
  }
  img.spotify-logo {
    margin-left: -600px;
    width: 12%;
  }
  .main-nav ul.display {
    width: 80%;
    transform: translateX(-20px);
  }
}
@media (max-width: 790px) {
  .text1-container {
    width: 900px;
    margin-left: -60px;
  }
  .card2-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -130px;
    margin-left: -60px;
  }
  .america-flag {
    margin-left: 10px;
    width: 10%;
    height: 10%;
    margin-top: 30px;
  }
  .usa-text {
    margin-left: 60%;
    margin-top: 30px;
  }
  .spotify-copyright {
    margin-left: -410px;
    margin-top: -50px;
    white-space: nowrap;
  }
  .main-nav ul.display {
    width: 80%;
    transform: translateX(-0px);
  }
}
@media (max-width: 750px) {
  .text1-container {
    width: 700px;
    margin-top: 160px;
    margin-left: 20px;
  }
  .card2-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -130px;
    margin-left: 10px;
  }
  strong.bold-height {
    font-size: 80px;
  }
  p.text2 {
    margin-bottom: 80px;
    letter-spacing: -0.5px;
    font-family: lineto-pro-medium;

    font-size: 30.55px;
    font-weight: 500;
  }
  .btn-green {
    position: relative;
    border: none;
    background-color: #1db954;
    width: 600px;
    height: 500px;
    padding: 16px;
    margin-top: -80px;
    right: 0px;
    border-radius: 25px;
  }
  .btn-white {
    position: relative;
    border: 2px solid black;
    width: 600px;
    background-color: #fdced5;
    height: 500px;
    padding: 16px;
    top: 25px;
    right: 0px;
    border-radius: 25px;
  }
  .subscription-div {
    margin-top: 40px;
    width: 900px;
  }
  img.spotify-logo {
    margin-left: -600px;
    width: 14%;
  }
  .main-nav ul.display {
    width: 80%;
    transform: translateX(-90px);
  }
}
